[project]
	description = testapp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vishwas Dani (vdani)
[access "refs/for/refs/*"]
	read = group user/Vishwas Dani (vdani)
	push = group user/Vishwas Dani (vdani)
	label-Code-Review = -2..+2 group user/Vishwas Dani (vdani)
	label-Verified = -1..+1 group user/Vishwas Dani (vdani)
	rebase = group user/Vishwas Dani (vdani)
	removeReviewer = group user/Vishwas Dani (vdani)
	submit = group user/Vishwas Dani (vdani)
[access "refs/heads/*"]
	read = group user/Vishwas Dani (vdani)
	create = group user/Vishwas Dani (vdani)
	push = +force group user/Vishwas Dani (vdani)
	pushMerge = group user/Vishwas Dani (vdani)
[access "refs/tags/*"]
	push = +force group user/Vishwas Dani (vdani)
	pushTag = group user/Vishwas Dani (vdani)
	pushSignedTag = group user/Vishwas Dani (vdani)
